{% extends "_layout" %}

{% block content %}
<div class="row py-5">
  <div class="col-md-12">
    <h1>Title</h1>
    <p>Description.</p>
  </div>
</div>


{% for entry in entry.newsFeed %}
    {{entry.newsTitle}}<br>
    {{ entry.newsDescription }}<br>
    <br><br>
{% endfor %}

{% endblock %}
