{% set products = craft.entries.section('products') %}
{% requireLogin %}

{% extends "_layout" %}

{% block content %}

{% include '_snippets/header-block' with
    {
      title: "Products",
      description:"Here are all of our products, don't hesitate to contact us if there's something you can't see here."
    }
%}

<div class="row">
{% for product in products %}
{# use css from home, just change to suit this page, maybe vertical? #}

<div class="col-sm-6">
  <div class="feed__box__product__outer mt-3">
    <div class="d-flex flex-column">
      <div style="max-height:13.5rem;overflow:hidden;">
        <img class="" style="width:100%;max-height:13.5rem;min-height:10rem;object-fit:cover;" src="{{product.productImage.first().url }}" alt="">
      </div>
      <div class="d-flex flex-column pl-2 pr-2">
        <p class="feed__box__product__outer--name pb-2 pr-2"><b>{{product.productName}}</b></p>
        {% if product.productDescription is not none %}
          <p class="feed__box__product__outer--link pr-2">{{product.productDescription}}</p>
        {% endif %}

        <a href="{{ url('order' , '?pdts=' ~ product.productName ) }}" class="btn btn-purchase mb-2">Order</a>
      </div>
    </div>
  </div>
</div>


{% endfor %}
</div>



 {% endblock %}
