{% set products = craft.entries.section('products') %}
{% requireLogin %}

{% extends "_layout" %}

{% block content %}
<div class="row py-5">
  <div class="col-md-12">
    <h1>Title</h1>
    <p>Description.</p>
  </div>
</div>

<div class="row">
{% for product in products %}
  <div class="col-md-6 mb-4">
    <div class="card" style="">
      <img src="https://www.fillmurray.com/640/360" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.productName }}</h5>
        <p class="card-text">{{ product.productDescription }}</p>
      </div>
      {# <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> #}
    </div>
  </div>
{% endfor %}
</div>



 {% endblock %}
