{% set products = craft.entries.section('products') %}
{% requireLogin %}

{% extends "_layout" %}

{% block content %}

{% include '_snippets/header-block' with
    {
      title: "Products",
      description:"All Products..."
    }
%}

<div class="row">
{% for product in products %}


{# use css from home, just change to suit this page, maybe vertical? #}

<div class="feed__box__product__outer mt-3">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-row">
          <img class="feed__box__product__outer--photo" style="" src="https://images.squarespace-cdn.com/content/v1/58a123c546c3c41632032fa9/1559174224934-1BUVDDP8FHWQV9ZV6L8A/ke17ZwdGBToddI8pDm48kAwMLRymhwpMU3nDDam6qip7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmmbLecD_NwfjqNxjfNDWHyPDBkcCBSEQC4qtixQM1rqE8VqmxstjSbr0VQM7hPWFL/IMG_1596.JPG?format=200w" alt="">
          <div class="d-flex flex-column pl-2 ">
            <p class="feed__box__product__outer--name"><b>{{product.productName}}</b><p>
            <a class="feed__box__product__outer--link pb-0 mb-0" href="{{product.url}}">{{product.productDescription}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endfor %}
</div>



 {% endblock %}
