{% extends "_layout" %}
{% requireLogin %}

{% block content %}
{% include '_snippets/header-block' with
    {
      title: "Thanks!",
      description:""
    }
%}

    <div class="alert alert-success" role="alert">
      <span>We've received your message, we'll get back to you as soon as possible.</span>
    </div>



{% endblock %}
